#aboutpage-header {
    height: 200px;
    background-color: black;
    background-position: 0 -360px;
    background-attachment: fixed;
    color: rgb(245, 243, 243);
    border-bottom: 1px #eee solid;
    padding-top: 50px;
  }
  