
.carousel-item {
    height: 450px;
  }
  
  .carousel-image-1 {
    background: url('../img/aboutUsimg/about-img1.jpg');
    background-size: cover;
  }
  
  .carousel-image-2 {
    background: url('../img/aboutUsimg/about-img2.jpg');
    background-size: cover;
  }
  
  .carousel-image-3 {
    background: url('../img/image3.jpg');
    background-size: cover;
  }
  