bg{
    background: url('login1.jpg')no-repeat;
    width:100%;
    height:100vh;
    background-size:100%;
}
.myForm{
    position: absolute;
    top:-1000vh;
    background:rgb(255, 255, 255);
    padding :10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}
@media only screen and (max-width:100px){
    .bg{
        background-size: 300%;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
     }
     
     .row > div[class*='col-'] {
       display: flex;
     }
     
}